<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</head>
<div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Our Airports <img width="10%"
				src="https://ourairports.com/images/logo-196px.png"></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Something else
									here</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Disabled</a></li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</div>

<div class="text-center rounded">
	<span> <img width="5%"
		src="https://ourairports.com/images/logo-196px.png">
		<h1 class="text-center">Our Airports</h1>
		<h4>For people who fly: 66,890 airports (and counting ...)</h4>
	</span>
</div>
<div class="container">
	<div class="card">
		<div class="card-header">Welcome to The Airports Card</div>
		<div class="card-body">


			<div id="airports-cn" class="container">


				<div>
					<form>
						<input type="text" class="form form-control" id="q" name="q"
							placeholder="by name , type, latitude, longitude">
					</form>
				</div>

				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Latitude</th>
							<th>Longitude</th>
						</tr>
					</thead>
					<tbody id="airports">
					</tbody>
				</table>
			</div>

		</div>
		<div class="card-footer"></div>
	</div>
</div>
<script>
	var req = new XMLHttpRequest();
	req.open( "GET", "/airports/bytype/large_airport",true);
	req.onreadystatechange = ()=>{
		var airports = JSON.parse(req.responseText);
		var airportelemnt = document.getElementById("airports");
		var table = document.createElement("table");
		table.setAttribute("class" , "table table-bordered table-inverse")
		airportelemnt.append(table);
		airports.forEach((airport)=>{
			var tr = document.createElement("tr");
			table.append(tr);
			var td = document.createElement("td");
			tr.append(td);
			td.append(airport.name);
			
			var td1 = document.createElement("td");
			tr.append(td1);
			td1.append(airport.type);
			
			var td2 = document.createElement("td");
			tr.append(td2);
			td2.append(airport.latitude);
			
			var td3 = document.createElement("td");
			tr.append(td3);
			td3.append(airport.longitude);
			
			
			
		});
	}
	req.send();
</script>